.homeContainer{
    display: flex;
    flex-direction: column;

}
.mainName{
    width: 100%;
    text-align: left;
    font-size: 2rem !important;
}

.links-container{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.links-container a{
    color: #0D0D0D;
    text-decoration: underline;
    font-family: ethnocentric, sans-serif;
    font-size: 1.9rem;
    margin: 2.5%;

}
.mini-about-container{
    position: relative;
    margin: 50% 0 0 0;
}
.about-paper{
    position: absolute;
    left: 0;
    width: 55%;
    padding: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.img-background{
    position: absolute;
    right: 0;
    z-index: -1;
    background: rgb(2,0,36);
    width: 50%;
    height: 150px;
    clip-path: polygon(27.67% 33%, 67.73% 35%, 71.73% 50%, 70.92% 50%, 70.51% 75%, 37.61% 77.04%, 29% 77.05%, 27.63% 64.72%)
}
.glasses-img{
    position: absolute;
    right: 0;
    z-index: 1;
    width: 45%;
}

/*.img-background {*/
/*    background: linear-gradient(74deg, #525252, #f0f0f0, #3c4341, #d22727, #231f1f);*/
/*    background-size: 1000% 1000%;*/
/*    -webkit-animation: GlassesAnimation 5s ease infinite;*/
/*    -moz-animation: GlassesAnimation 5s ease infinite;*/
/*    -o-animation: GlassesAnimation 5s ease infinite;*/
/*    animation: GlassesAnimation 5s ease infinite;*/
/*}*/

/*@-webkit-keyframes GlassesAnimation {*/
/*    0%{background-position:0% 83%}*/
/*    50%{background-position:100% 18%}*/
/*    100%{background-position:0% 83%}*/
/*}*/
/*@-moz-keyframes GlassesAnimation {*/
/*    0%{background-position:0% 83%}*/
/*    50%{background-position:100% 18%}*/
/*    100%{background-position:0% 83%}*/
/*}*/
/*@-o-keyframes GlassesAnimation {*/
/*    0%{background-position:0% 83%}*/
/*    50%{background-position:100% 18%}*/
/*    100%{background-position:0% 83%}*/
/*}*/
/*@keyframes GlassesAnimation {*/
/*    0%{background-position:0% 83%}*/
/*    50%{background-position:100% 18%}*/
/*    100%{background-position:0% 83%}*/
/*}*/

.img-background {
    background-image: url("../../assets/spaceTravel.gif");
}