.homeContainer{
    display: flex;
    flex-direction: column;

}
.mainName{
    width: 100%;
    text-align: left;
    font-size: 2rem !important;
}

.links-container{
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.links-container a{
    color: #0D0D0D;
    text-decoration: underline;
    font-family: ethnocentric, sans-serif;
    font-size: 1.9rem;
    margin: 2.5%;

}
.mini-about-container{
    position: relative;
    margin: 30% 0 5% 0;
    min-height: 450px;
}
.about-paper{
    position: absolute;
    left: 0;
    width: 55%;
    padding: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin: 0 0 5% 0;
}
.img-background{
    position: absolute;
    right: 0;
    z-index: -1;
    background: rgb(2,0,36);
    width: 50%;
    height: 150px;
    background-image: url("../../assets/spaceTravel.gif");
    background-position: top;
    clip-path: polygon(31.17% 38.33%, 59.57% 26.33%, 72.9% 44%, 74.42% 67.33%, 69.93% 87.66%, 55.07% 102.2%, 44.16% 103.29%, 32.64% 70.75%, 25.87% 57.39%);
}
.glasses-img{
    position: absolute;
    right: 0;
    z-index: 1;
    width: 45%;
}
